

.wrapper{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 2px;
  margin-top: 5px;
}

.titleGroup {
  display: flex;
  justify-content: space-between;
}

.title{
  font-weight: bold;
  flex-grow: 1;
}

.description{
  margin-bottom: 3px;
  margin-top: 3px;
}

.infoGroup{
  display: flex;
  justify-content: start;
}

.location {
  font-style: italic;
  flex-shrink: 1;
  padding-left: 10px;
}

.organization {
  font-weight: bold;
  padding-left: 10px;
}

.date{
  font-style: italic;
  flex-shrink: 1;
}
