.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.w-form-formrecaptcha {
  margin-bottom: 8px;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 135%;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 600;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 27px;
  line-height: 135%;
  font-weight: 600;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

h5 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  text-transform: uppercase;
}

h6 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  line-height: 160%;
  font-weight: 300;
}

a {
  color: #24a7ff;
  text-decoration: underline;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

li {
  font-weight: 300;
}

img {
  display: inline-block;
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}

blockquote {
  margin-bottom: 20px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-family: Domine;
  font-size: 18px;
  line-height: 140%;
  font-weight: 400;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  margin-top: 8px;
  color: #aaa;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
}

.navigation-bar {
  display: block;
  height: 100%;
  max-width: 300px;
  margin: auto;
  background-color: transparent;
}

.navigation-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  max-height: none;
  max-width: 100.11%;
  min-height: auto;
  min-width: 100%;
  margin: auto;
  padding-right: 0px;
  float: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background-color: transparent;
}

.form-wrapper {
  position: relative;
  margin: 20px 24px 60px;
}

.navsociallink {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-top: auto;
  margin-right: 0px;
  margin-bottom: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  border-radius: 20px;
  opacity: 1;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.navsociallink:hover {
  opacity: 0.8;
}

.item {
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-bottom: 30px;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
  background-color: transparent;
}

.itemdescription {
  display: block;
  margin-bottom: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  line-height: 144%;
}

.itemdate {
  display: inline-block;
  margin-right: 10px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #000;
  font-size: 15px;
  line-height: 125%;
  font-style: italic;
  text-align: right;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: capitalize;
}

.itemtittlelink {
  display: block;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #333;
  text-decoration: none;
}

.itemtittlelink:hover {
  opacity: 0.61;
}

.success-message {
  padding-top: 49px;
  padding-bottom: 49px;
  border-radius: 3px;
  background-color: #f0f0f0;
}

.text-field {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.text-field.text-area {
  min-height: 110px;
  border-radius: 10px;
}

.navsocialwrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  margin: auto;
  padding: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  grid-auto-flow: row dense;
  grid-auto-columns: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.itemtittle {
  margin-top: 0px;
  margin-bottom: auto;
  -webkit-transition: text-shadow 500ms ease;
  transition: text-shadow 500ms ease;
  color: #000;
  font-size: 25px;
  line-height: 37px;
  font-weight: 700;
}

.itemtittle:hover {
  font-weight: 700;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.6);
}

.menu-button {
  position: absolute;
  display: none;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: auto;
  min-width: auto;
}

.iteminfowrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-top: 0px;
  margin-bottom: 6px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 12px;
  -ms-grid-columns: 1fr 0.5fr;
  grid-template-columns: 1fr 0.5fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  font-size: 10px;
}

.content {
  overflow: auto;
  width: auto;
  margin-right: 0px;
  margin-left: 300px;
  padding: 100px 50px 0px;
  border-radius: 0px;
}

.sidebar-column {
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  z-index: 10;
  width: 300px;
  height: 100%;
  max-width: 300px;
  min-width: 300px;
  padding: 10px;
  background-color: #333;
  box-shadow: 6px 0 3px 0 #000;
  color: #9b9b9b;
}

.navheading {
  display: block;
  margin: 40px 0px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-transition: opacity 1000ms ease;
  transition: opacity 1000ms ease;
  font-family: Vollkorn, serif;
  color: #959595;
  font-size: 35px;
  line-height: 120%;
  font-weight: 600;
  text-align: center;
}

.navheading:hover {
  color: #f0f0f0;
  font-weight: 600;
  text-shadow: 3px -2px 20px #edeff2;
}

.sectionheading {
  margin: 0px 0px 10px;
  padding: 10px 5px 10px 23px;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000 #000 transparent;
  border-radius: 8px 8px 0px 0px;
  background-color: #333;
  color: #fff;
  font-size: 25px;
  font-weight: 700;
}

.contentsection {
  max-width: 1400px;
  margin: 100px auto 220px;
  padding: 0px;
  border: 1px none #000;
  border-radius: 12px;
  background-color: #f0f0f0;
}

.contentsection:hover {
  border-style: none;
  border-width: 1px;
  border-color: #fff;
  box-shadow: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.navsocialimage {
  display: block;
  width: 25px;
  height: 25px;
  max-height: 25px;
  max-width: 25px;
  min-height: 25px;
  min-width: 25px;
  margin: auto;
  padding: 0px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-radius: 0px;
  -webkit-transition: box-shadow 1000ms ease;
  transition: box-shadow 1000ms ease;
}

.navsocialimage:hover {
  border-style: none;
  border-width: 0px;
  border-color: #000;
  border-radius: 0px;
  box-shadow: 1px -1px 18px 1px rgba(0, 0, 0, 0.65);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.itemimage {
  max-height: 96px;
  max-width: 96px;
  min-height: 96px;
  min-width: 96px;
  margin: 2px;
  padding-top: 2px;
  padding-left: 2px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  border: 2px solid #000;
  border-radius: 7px;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
}

.itemimage:hover {
  box-shadow: 3px -3px 4px -1px rgba(0, 0, 0, 0.6);
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
}

.iteminfo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.itemlocation {
  display: inline-block;
  margin-top: 6px;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  color: #000;
  font-size: 15px;
  line-height: 125%;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.itemcompany {
  display: inline-block;
  margin-right: 8px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #969696;
  font-size: 20px;
  line-height: 125%;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.itemcompany.when-link {
  display: inline;
  max-width: none;
  min-width: auto;
  margin-left: 0px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-style: none;
  border-width: 1px;
  border-color: #000;
  -webkit-transition: text-shadow 500ms ease;
  transition: text-shadow 500ms ease;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
}

.itemcompany.when-link:hover {
  color: #333;
  font-weight: 600;
  text-shadow: 1px -1px 2px rgba(0, 0, 0, 0.6);
}

.commonparagraph {
  position: relative;
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 16px;
  line-height: 144%;
  font-weight: 400;
  text-align: justify;
}

.commonlist {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 18px;
}

.commonlistitem {
  margin-top: 5px;
}

.iteminfoleft {
  margin-left: 10px;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.icon {
  display: none;
}

.contenttitle {
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
  padding-left: 0px;
  float: none;
  color: #f0f0f0;
  font-weight: 800;
  text-align: left;
  text-shadow: 5px -3px 2px rgba(0, 0, 0, 0.6);
}

.contenttitle:hover {
  text-shadow: none;
}

.contentparagraph {
  margin-right: -10px;
  margin-bottom: 5px;
  padding-right: 0px;
  background-color: hsla(0, 0%, 100%, 0);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  text-shadow: 3px -3px 6px #000;
}

.socialwrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  padding-bottom: 30px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 17px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  border-style: none;
  border-width: 1px 1px 0px;
  border-color: #000;
  background-color: transparent;
  text-align: right;
}

.linkwrapper {
  display: block;
  margin-right: 33px;
  margin-left: 28px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.sociallink {
  margin-left: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-family: 'Open Sans', sans-serif;
  color: #000;
  font-style: italic;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
}

.sociallink:hover {
  text-decoration: underline;
}

.sociallinkwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: 10px 11px 10px 10px;
  padding-top: 0px;
  padding-right: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  opacity: 1;
  color: #000;
  text-decoration: none;
}

.sociallinkwrapper:hover {
  opacity: 0.8;
  color: #000;
  text-decoration: underline;
}

.navlinkwrapper {
  position: relative;
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 20px auto 0px;
  padding: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.contentheading {
  margin-bottom: 100px;
  margin-left: 0px;
  padding: 60px;
  background-color: transparent;
}

.avatar {
  position: relative;
  display: block;
  overflow: auto;
  width: 128px;
  height: 128px;
  max-height: 128px;
  max-width: 128px;
  min-height: 128px;
  min-width: 128px;
  margin: 0px;
  padding: 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 16px;
  -webkit-transition: box-shadow 550ms ease;
  transition: box-shadow 550ms ease;
  -o-object-fit: fill;
  object-fit: fill;
}

.avatar:hover {
  border-style: none;
  border-width: 0px;
  border-color: #000;
  border-radius: 16px;
  box-shadow: 1px -1px 20px 5px hsla(0, 0%, 94.1%, 0.6);
}

.background {
  position: fixed;
  z-index: -999;
  display: block;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  min-height: 100%;
  min-width: 100%;
  opacity: 1;
}

.commonheading {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  font-size: 24px;
}

.commonimage {
  position: relative;
  display: block;
  overflow: visible;
  width: auto;
  height: auto;
  max-height: none;
  max-width: 100%;
  margin: 10px;
  -o-object-fit: scale-down;
  object-fit: scale-down;
}

.detailwrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  padding: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  line-height: 144%;
}

.navlinkicon {
  position: absolute;
  z-index: 500;
  width: auto;
  margin-top: 3px;
  margin-right: 0px;
  margin-bottom: 5px;
  float: right;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  border: 1px none #f0f0f0;
  color: hsla(0, 0%, 100%, 0.5);
}

.navlinkicon:hover {
  color: #fff;
  text-shadow: 1px -1px 7px #fff;
}

.navlink2 {
  display: block;
  margin: 10px 0px 0px;
  padding: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-transition: text-shadow 1000ms ease, color 225ms ease;
  transition: text-shadow 1000ms ease, color 225ms ease;
  color: #969696;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 1px 1px 6px #000;
}

.navlink2:hover {
  color: #ebebeb;
  text-shadow: 4px -3px 16px hsla(0, 0%, 100%, 0.6);
}

.navlink2.w--current {
  margin-top: 10px;
  margin-bottom: 0px;
  margin-left: 0px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #ebebeb;
  font-size: 15px;
  text-shadow: 2px -2px 20px #edeff2;
}

.navmenuwrapper {
  display: -ms-grid;
  display: grid;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  margin-right: 10px;
  margin-left: 10px;
  grid-auto-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas: ". ." ". ." ". ." "Area Area-2";
  -ms-grid-columns: 1fr 0px 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: min-content 0px min-content 0px min-content;
  grid-template-rows: -webkit-min-content -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content min-content;
}

.navlink3 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 500;
  display: none;
  margin-top: 5px;
  margin-bottom: 0px;
  margin-left: 10px;
  padding: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-transition: text-shadow 1000ms ease, color 225ms ease;
  transition: text-shadow 1000ms ease, color 225ms ease;
  color: #969696;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.navlink3:hover {
  color: #ebebeb;
  text-shadow: 4px -3px 16px hsla(0, 0%, 100%, 0.6);
}

.navlink3.w--current {
  display: block;
  margin-top: 5px;
  margin-left: 10px;
  color: #ebebeb;
  font-size: 14px;
  text-shadow: 2px -2px 20px #edeff2;
}

.navlink4 {
  position: -webkit-sticky;
  position: sticky;
  left: 0px;
  top: 0px;
  z-index: 500;
  display: none;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  padding: 0px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  -webkit-transition: text-shadow 1000ms ease, color 225ms ease;
  transition: text-shadow 1000ms ease, color 225ms ease;
  color: #969696;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-transform: none;
  text-shadow: 1px 1px 6px #000;
}

.navlink4:hover {
  color: #ebebeb;
  text-shadow: 4px -3px 16px hsla(0, 0%, 100%, 0.6);
}

.navlink4.w--current {
  display: block;
  margin-left: 20px;
  color: #ebebeb;
  font-size: 15px;
  text-shadow: 2px -2px 20px #edeff2;
}

.fieldlabelblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.formlabelerror {
  display: block;
  margin-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: red;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.formsubmitblock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.recaptcha {
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.formpopup {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  height: auto;
  margin: 40px auto auto;
  padding: 40px 20px 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  background-color: #333;
  box-shadow: 3px -2px 18px 4px #000;
}

.formpopupheading {
  margin-bottom: 20px;
  color: #fff;
}

.formlabel {
  font-size: 16px;
  font-weight: 700;
}

.navpages {
  display: -ms-grid;
  display: grid;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  grid-auto-columns: 1fr;
  grid-column-gap: 4px;
  grid-row-gap: 0px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.commonbutton {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-style: none;
  border-width: 2px;
  border-color: #fff;
  border-radius: 10px;
  background-color: rgba(51, 51, 51, 0.38);
  opacity: 0.7;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #ff003d;
  font-weight: 700;
  text-decoration: none;
}

.commonbutton.w--current {
  width: auto;
  height: 40px;
  max-height: 40px;
  max-width: none;
  min-height: 40px;
  min-width: auto;
  margin-top: 0px;
  border: 2px solid #efefef;
  border-radius: 10px;
  background-color: #333;
  opacity: 1;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.commonbutton.w--current:hover {
  opacity: 1;
  text-shadow: 1px 1px 20px hsla(0, 0%, 100%, 0.8);
}

.commonbuttonbackground {
  position: absolute;
  width: 100%;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 10px;
  background-color: #333;
  opacity: 0;
  color: #efefef;
  text-align: center;
}

.commonbuttontext {
  position: relative;
  z-index: 1;
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 5px;
  padding-left: 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  color: #f3f3f3;
  text-align: center;
  text-transform: none;
}

.itembutton {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 150px 1fr;
  grid-template-columns: 150px 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.formpopupbutton {
  width: 120px;
}

.itemimagelink {
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
}

.formbutton {
  width: 120px;
  -webkit-box-ordinal-group: 0;
  -webkit-order: -1;
  -ms-flex-order: -1;
  order: -1;
  color: #000;
}

html.w-mod-js *[data-ix="scrollmoveup"] {
  opacity: 0;
  -webkit-transform: translate(0px, 100px);
  -ms-transform: translate(0px, 100px);
  transform: translate(0px, 100px);
}

html.w-mod-js *[data-ix="loadmoveup"] {
  opacity: 0;
  -webkit-transform: translate(100px, 0px);
  -ms-transform: translate(100px, 0px);
  transform: translate(100px, 0px);
}

html.w-mod-js *[data-ix="loadmoveright"] {
  opacity: 0;
  -webkit-transform: translate(-35px, 0px);
  -ms-transform: translate(-35px, 0px);
  transform: translate(-35px, 0px);
}

@media screen and (max-width: 991px) {
  .navigation-bar {
    position: relative;
    z-index: 20;
    width: 100%;
    max-width: none;
    margin: auto;
    color: #fff;
  }
  .navigation-menu {
    position: fixed;
    left: 70px;
    top: 0%;
    right: 0%;
    bottom: 0%;
    z-index: -10;
    display: block;
    overflow: visible;
    width: 100%;
    height: 0px;
    max-height: 0px;
    max-width: 100%;
    min-height: 0px;
    min-width: 100%;
    margin: 10px 0px 60px;
    padding: 0px 150px 0px 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    border-radius: 20px;
    background-color: transparent;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .navigation-menu:hover {
    border: 3px none #f0f0f0;
    opacity: 1;
  }
  .navsociallink {
    display: block;
    width: auto;
    margin: auto;
    border-radius: 20px;
    -webkit-filter: invert(100%);
    filter: invert(100%);
  }
  .item {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .text-field {
    box-shadow: 1px -1px 8px 0 #000;
  }
  .navsocialwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
    margin: auto auto 20px;
    padding-right: 128px;
    padding-left: 128px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    justify-items: center;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-flow: column dense;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1.25fr 1fr 1fr;
    grid-template-columns: 1.25fr 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .itemtittle {
    margin-bottom: auto;
  }
  .menu-button {
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 20;
    display: block;
    width: auto;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: auto;
    min-width: auto;
    margin: auto;
    padding: 11px;
    float: left;
    clear: left;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(255, 253, 253, 0.35);
    border-radius: 5px;
    background-color: #333;
    box-shadow: 6px -5px 16px 1px rgba(0, 0, 0, 0.6);
    color: #fff;
  }
  .menu-button:active {
    box-shadow: 2px 2px 3px 0 #000;
    -webkit-perspective: 608px;
    perspective: 608px;
    -webkit-perspective-origin: 100% 100%;
    perspective-origin: 100% 100%;
    -webkit-transform: perspective(980px);
    transform: perspective(980px);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  .menu-button.w--open {
    position: fixed;
    left: 0px;
    top: 0px;
    right: auto;
    bottom: auto;
    z-index: 609999;
    margin: 10px auto auto 10px;
    padding-top: 11px;
    clear: none;
    border-radius: 11px;
    background-color: #333;
    box-shadow: 0 0 20px 13px rgba(0, 0, 0, 0.6);
    color: #333;
  }
  .menu-button.w--open:active {
    box-shadow: none;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    -webkit-transform: perspective(980px);
    transform: perspective(980px);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
  }
  .content {
    position: relative;
    z-index: 0;
    overflow: scroll;
    width: 100%;
    margin-top: 0px;
    margin-left: 0%;
    padding: 140px 20px 0px;
  }
  .sidebar-column {
    position: fixed;
    left: auto;
    top: auto;
    right: auto;
    bottom: auto;
    z-index: 10;
    display: block;
    width: 0%;
    height: 0%;
    max-width: 0px;
    min-width: 0px;
    padding: 0px;
    border-bottom: 1px none rgba(107, 53, 53, 0);
    background-color: rgba(51, 51, 51, 0);
    color: hsla(0, 0%, 60.8%, 0);
    line-height: 135%;
  }
  .navheading {
    position: relative;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Vollkorn, serif;
    font-size: 30px;
    text-align: right;
  }
  .contentsection {
    margin-bottom: 220px;
  }
  .contentsection:hover {
    box-shadow: 8px -6px 20px 4px rgba(0, 0, 0, 0.6);
  }
  .navsocialimage {
    position: relative;
    width: 25px;
    height: 25px;
    max-height: 25px;
    max-width: 25px;
    min-height: 25px;
    min-width: 25px;
    margin: auto 5px;
    padding: 0px;
    border-radius: 2px;
  }
  .itemimage {
    padding-right: 2px;
    padding-bottom: 2px;
  }
  .commonlist {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .icon {
    display: block;
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
  }
  .contenttitle {
    margin-top: 60px;
    margin-left: 0px;
    color: #333;
    text-shadow: none;
  }
  .contenttitle:hover {
    text-shadow: 1px 1px 6px #000;
  }
  .contentparagraph {
    color: #333;
    text-shadow: none;
  }
  .socialwrapper {
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .sociallink {
    text-decoration: none;
  }
  .sociallink:hover {
    text-decoration: underline;
  }
  .navlinkwrapper {
    position: static;
    display: block;
    overflow: visible;
    width: 100%;
    height: auto;
    margin: 20px auto;
    padding-top: 10px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    border-style: solid none none;
    border-width: 1px;
    border-color: rgba(255, 255, 255, 0.6) #edeff2 #edeff2;
    border-radius: 0px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .contentheading {
    margin-top: 0px;
    margin-left: 0px;
    border-radius: 20px;
    background-color: hsla(0, 0%, 100%, 0);
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.43)), to(#fff));
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.43), #fff);
  }
  .form {
    margin-bottom: 0px;
  }
  .avatar {
    position: relative;
    right: auto;
    margin: auto auto 0px;
    padding: 5px;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .commonimage {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navlink2 {
    position: static;
    text-align: left;
  }
  .navlink2.w--current {
    position: static;
    text-align: left;
  }
  .navmenuwrapper {
    position: static;
    z-index: 500;
    display: -ms-grid;
    display: grid;
    overflow: visible;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: auto;
    min-width: 100%;
    margin: auto 0px;
    padding: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: stretch;
    -webkit-justify-content: stretch;
    -ms-flex-pack: stretch;
    justify-content: stretch;
    grid-auto-flow: row;
    grid-auto-columns: minmax(128px, 128px);
    grid-auto-rows: auto;
    grid-column-gap: 12px;
    grid-row-gap: 10px;
    -ms-grid-columns: 1.25fr;
    grid-template-columns: 1.25fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    border-radius: 9px;
    background-color: #333;
    box-shadow: 0 0 20px 13px rgba(0, 0, 0, 0.6);
    -o-object-fit: fill;
    object-fit: fill;
  }
  .navlink3 {
    position: static;
    margin-left: 20px;
    text-align: left;
  }
  .navlink3.w--current {
    position: static;
    text-align: left;
  }
  .navlink4 {
    position: static;
    margin-left: 40px;
    text-align: left;
  }
  .navlink4.w--current {
    position: static;
    margin-left: 40px;
    text-align: left;
  }
  .navpages {
    position: static;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: auto;
    z-index: 500;
    width: 100%;
    margin: 0px;
    padding-right: 0px;
    grid-auto-flow: row dense;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
  }
  .commonbutton {
    height: 40px;
    max-height: 4040px;
    min-height: 40px;
  }
  .commonbutton.w--current {
    position: relative;
    z-index: 999;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
  }
  .commonbuttonbackground {
    z-index: 0;
    height: 40px;
    max-height: 40px;
    min-height: 40px;
    opacity: 0;
  }
  .commonbuttontext {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .formpopupbutton {
    display: block;
    width: 120px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
  .formbutton {
    display: block;
    width: 120px;
    grid-auto-columns: 1fr;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 31px;
    line-height: 38px;
  }
  .navigation-menu {
    right: 0%;
    z-index: -10;
    width: 100%;
    margin: 10px 0px 60px;
    padding-top: 0px;
  }
  .navsociallink {
    margin: auto;
    border-radius: 20px;
  }
  .navsociallink:hover {
    opacity: 1;
  }
  .item {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
  }
  .navsocialwrapper {
    display: -ms-grid;
    display: grid;
    width: auto;
    margin: auto;
    padding-right: 0px;
    padding-left: 0px;
    -webkit-align-content: space-around;
    -ms-flex-line-pack: distribute;
    align-content: space-around;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    -ms-grid-columns: auto auto auto;
    grid-template-columns: auto auto auto;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .itemtittle {
    font-size: 27px;
    line-height: 36px;
  }
  .menu-button {
    z-index: 500;
    margin-top: auto;
    margin-left: auto;
    padding-top: 11px;
  }
  .menu-button:active {
    box-shadow: 3px -3px 8px 1px rgba(0, 0, 0, 0.6);
  }
  .menu-button.w--open {
    left: auto;
    top: auto;
    z-index: 609999;
    margin: 10px auto auto 10px;
    padding-top: 11px;
    background-color: #333;
    box-shadow: 0 0 20px 13px rgba(0, 0, 0, 0.6);
  }
  .menu-button.w--open:active {
    box-shadow: 3px -3px 8px 1px rgba(0, 0, 0, 0.6);
  }
  .content {
    margin-top: 0px;
    margin-bottom: 60px;
    padding: 60px 10px 10px;
    border: 1px solid transparent;
  }
  .sidebar-column {
    left: auto;
    top: auto;
    right: auto;
    z-index: 10;
    display: block;
    padding: 0px;
  }
  .navheading {
    overflow: visible;
    margin: 20px auto;
    border-bottom: 0px none #edeff2;
    font-size: 25px;
    text-align: right;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .contentsection {
    background-color: #edeff2;
    box-shadow: 8px -6px 20px -7px rgba(0, 0, 0, 0.6);
    opacity: 1;
  }
  .contentsection:hover {
    box-shadow: 8px -6px 20px 4px rgba(0, 0, 0, 0.6);
  }
  .navsocialimage {
    margin: auto;
    padding: 0px;
  }
  .commonlist {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .body {
    box-shadow: none;
  }
  .socialwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .linkwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 0px;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
  }
  .sociallink {
    color: #000;
    text-decoration: none;
  }
  .sociallink:hover {
    text-decoration: underline;
  }
  .sociallinkwrapper {
    text-decoration: none;
  }
  .sociallinkwrapper:hover {
    color: #000;
    text-decoration: underline;
  }
  .navlinkwrapper {
    position: relative;
    z-index: auto;
    margin-top: auto;
  }
  .contentheading {
    margin-bottom: 40px;
  }
  .form {
    margin-bottom: 0px;
  }
  .avatar {
    right: auto;
    margin: auto auto 0px;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .commonimage {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navlink2 {
    display: block;
  }
  .navlink2.w--current {
    font-size: 14px;
  }
  .navmenuwrapper {
    position: static;
    z-index: 500;
    overflow: visible;
    width: 100%;
    height: auto;
    max-height: none;
    max-width: none;
    min-height: auto;
    min-width: 100%;
    margin: auto;
    padding: 20px 10px;
    grid-auto-flow: row dense;
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: auto minmax(128px, 1px);
    grid-template-columns: auto minmax(128px, 1px);
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    -o-object-fit: fill;
    object-fit: fill;
  }
  .navlink3 {
    display: none;
  }
  .navlink3.w--current {
    font-size: 14px;
  }
  .navlink4 {
    display: none;
  }
  .navlink4.w--current {
    font-size: 14px;
  }
  .formsubmitblock {
    display: block;
    margin-top: 20px;
  }
  .recaptcha {
    margin-bottom: 20px;
  }
  .navpages {
    position: relative;
    z-index: auto;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .commonbutton {
    max-height: 40px;
  }
  .itembutton {
    display: block;
    width: 150px;
    margin: 10px auto 20px 0px;
  }
}

@media screen and (max-width: 479px) {
  .navigation-menu {
    position: fixed;
    left: 0px;
    top: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 36%;
    margin-top: 70px;
    margin-left: 10px;
    padding-top: 0px;
    padding-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .form-wrapper {
    margin-top: 27px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navsociallink {
    margin-right: auto;
    border-radius: 20px;
  }
  .item {
    margin-bottom: 20px;
    padding-bottom: 0px;
  }
  .itemdate {
    margin-top: 5px;
    margin-right: 0px;
  }
  .navsocialwrapper {
    display: -ms-grid;
    display: grid;
    margin: 0px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 15px;
    -ms-grid-columns: auto auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
  }
  .itemtittle {
    font-size: 20px;
    line-height: 32px;
  }
  .menu-button {
    z-index: 500;
    margin-top: auto;
    margin-left: auto;
    box-shadow: 0 0 20px 13px rgba(0, 0, 0, 0.6);
  }
  .menu-button:active {
    box-shadow: 2px 2px 3px 0 #000;
    -webkit-transform: perspective(980px);
    transform: perspective(980px);
    -webkit-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
  }
  .menu-button.w--open {
    z-index: 609999;
    margin-top: 10px;
    margin-left: 10px;
    box-shadow: 0 0 20px 13px rgba(0, 0, 0, 0.6);
  }
  .iteminfowrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .content {
    margin-top: 0px;
    padding: 100px 0px 60px;
  }
  .sidebar-column {
    position: fixed;
    z-index: 10;
    padding-bottom: 0px;
  }
  .navheading {
    display: block;
    margin: 10px auto 20px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    font-size: 25px;
    text-align: center;
  }
  .sectionheading {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 0px;
    padding-bottom: 1px;
    padding-left: 10px;
    border-style: none none solid;
    border-width: 1px 1px 3px;
    border-color: #000;
    border-radius: 10px 10px 0px 0px;
    background-color: #333;
    background-image: none;
    box-shadow: none;
    color: #fff;
    text-decoration: none;
  }
  .contentsection {
    margin-top: 60px;
    margin-bottom: 100px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
    border-style: none;
    border-radius: 10px;
    background-color: #fff;
    background-image: none;
    box-shadow: none;
  }
  .contentsection:hover {
    box-shadow: none;
  }
  .navsocialimage {
    display: inline-block;
    margin: auto;
    padding: 0px;
  }
  .navsocialimage:hover {
    padding: 0px;
    border-style: none;
  }
  .itemimage {
    display: none;
  }
  .iteminfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .itemlocation {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 0px;
    font-size: 15px;
  }
  .itemcompany.when-link {
    margin-left: 0px;
    font-size: 18px;
  }
  .commonparagraph {
    font-size: 13px;
  }
  .commonlist {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 18px;
  }
  .iteminfoleft {
    margin-left: 0px;
  }
  .body {
    box-shadow: none;
  }
  .contenttitle {
    color: #000;
    text-align: left;
    text-shadow: none;
  }
  .contenttitle:hover {
    text-shadow: none;
  }
  .contentparagraph {
    color: #000;
    font-size: 15px;
    text-align: left;
    text-shadow: none;
  }
  .socialwrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 0px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .linkwrapper {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .navlinkwrapper {
    margin-top: auto;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
  }
  .contentheading {
    margin-top: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .form {
    margin-bottom: 0px;
  }
  .avatar {
    position: static;
    display: block;
    max-width: 180px;
    margin: 0px auto;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
    -ms-flex-order: 1;
    order: 1;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
  .avatar:hover {
    padding: 5px;
    border-style: none;
  }
  .background {
    display: block;
  }
  .commonimage {
    height: auto;
    margin: 10px 0px;
  }
  .navlink2 {
    margin-top: 10px;
    margin-bottom: 0px;
  }
  .navmenuwrapper {
    position: static;
    z-index: 600;
    display: -ms-grid;
    display: grid;
    height: auto;
    margin-top: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto auto auto;
    grid-template-rows: auto auto auto auto;
  }
  .navlink3 {
    display: none;
    margin-top: 5px;
    margin-bottom: 0px;
  }
  .navlink4 {
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .formlabelerror {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: right;
  }
  .navpages {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px none #000;
  }
  .commonbutton {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
  }
  .commonbutton.w--current {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
  }
  .commonbuttonbackground {
    height: 30px;
    max-height: 30px;
    min-height: 30px;
  }
  .commonbuttontext {
    font-size: 14px;
  }
  .itembutton {
    display: block;
    width: 150px;
    margin: 10px auto 20px;
  }
}

#w-node-0c83edc214b5-e868921a {
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-38b111934901-e868921a {
  -ms-grid-column-align: end;
  justify-self: end;
}

#NavHeading.w-node-6f9e40bd8cbd-40bd8cb9 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row-align: start;
  align-self: start;
  -ms-grid-column-align: center;
  justify-self: center;
}

#Avatar.w-node-6f9e40bd8cc0-40bd8cb9 {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#NavSocialWrapper.w-node-6f9e40bd8ccb-40bd8cb9 {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
}

#NavPages.w-node-2536bb91b6e9-40bd8cb9 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#NavLinkWrapper.w-node-44f091387f7c-40bd8cb9 {
  -ms-grid-column-span: 2;
  grid-column-end: 3;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: stretch;
  align-self: stretch;
}

#DownloadDiv.w-node-acd425cfca50-40bd8cb9 {
  -ms-grid-row-align: end;
  align-self: end;
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-7dba7003a747-5768921d {
  -ms-grid-column: span 2;
  grid-column-start: span 2;
  -ms-grid-column-span: 2;
  grid-column-end: span 2;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}

#w-node-5acc719c8467-7077ed8d {
  -ms-grid-column-align: end;
  justify-self: end;
}

@media screen and (max-width: 991px) {
  #NavHeading.w-node-6f9e40bd8cbd-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -ms-grid-column-align: center;
    justify-self: center;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #Avatar.w-node-6f9e40bd8cc0-40bd8cb9 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 3;
    grid-row-end: 4;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-align: center;
    align-self: center;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #NavSocialWrapper.w-node-6f9e40bd8ccb-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #NavPages.w-node-2536bb91b6e9-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 3;
    grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
  }
  #NavLinkWrapper.w-node-44f091387f7c-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
    -ms-grid-row-align: start;
    align-self: start;
  }
}

@media screen and (max-width: 767px) {
  #NavHeading.w-node-6f9e40bd8cbd-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 2;
    -webkit-box-ordinal-group: -9998;
    -webkit-order: -9999;
    -ms-flex-order: -9999;
    order: -9999;
  }
  #Avatar.w-node-6f9e40bd8cc0-40bd8cb9 {
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #NavSocialWrapper.w-node-6f9e40bd8ccb-40bd8cb9 {
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-column-align: center;
    justify-self: center;
  }
  #NavPages.w-node-2536bb91b6e9-40bd8cb9 {
    -ms-grid-column-span: 3;
    grid-column-end: 3;
  }
  #NavLinkWrapper.w-node-44f091387f7c-40bd8cb9 {
    -webkit-box-ordinal-group: 10000;
    -webkit-order: 9999;
    -ms-flex-order: 9999;
    order: 9999;
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-span: 1;
    grid-row-end: 5;
  }
}

@media screen and (max-width: 479px) {
  #NavHeading.w-node-6f9e40bd8cbd-40bd8cb9 {
    -ms-grid-column-span: 3;
    grid-column-end: 3;
  }
  #Avatar.w-node-6f9e40bd8cc0-40bd8cb9 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 1;
    grid-column-end: 2;
    -ms-grid-row: 2;
    grid-row-start: 2;
    -ms-grid-row-align: center;
    align-self: center;
  }
  #NavSocialWrapper.w-node-6f9e40bd8ccb-40bd8cb9 {
    -ms-grid-column-span: 1;
    grid-column-end: 3;
    -ms-grid-column: 2;
    grid-column-start: 2;
    -ms-grid-row-span: 1;
    grid-row-end: 3;
    -ms-grid-row: 2;
    grid-row-start: 2;
  }
  #NavLinkWrapper.w-node-44f091387f7c-40bd8cb9 {
    -ms-grid-row: 4;
    grid-row-start: 4;
    -ms-grid-row-align: stretch;
    align-self: stretch;
    -ms-grid-column-align: stretch;
    justify-self: stretch;
  }
}

